<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--配置注解扫描,决定哪个包下面可以使用注解，注解才会生效-->
    <context:component-scan base-package="com.weichuang"/>
    <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"></bean>
    <!--配置mybatis sql会话工厂-->
    <bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:com/weichuang/mybatis/sqlMapConfig.xml"></property>
    </bean>
    <!--mapper扫描配置-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.weichuang.mapper"></property>
    </bean>
</beans>